#more-weather-btn{
    display: none;
}

#show-less-btn{
    display: none;
}

body {
    background-color: springgreen;
}
.weather-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    text-align: center;
    width: auto;    
    line-height: 30px;
    font-family: sans-serif;
} 

.weather-card{
    text-align:center;
    background-image: linear-gradient(to left, hsl(63, 100%, 48%),hsl(200, 100%, 50%));
    min-height: 10vh;
    width: 50vw;
    color: white;
    font-size: larger;
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.weather-card:hover {
    background-color: black;
}

.material-icons.md-60 {
    font-size: 40px;
    color: white;
}

#location,#temp,#desc,#date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.btn {
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 14px , 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 7px;
}
.btn:hover {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
}